pyTelegramBotAPI==4.26.0
Flask==3.1.0
psutil==6.1.1
requests==2.32.3
pyrogram==2.0.106
TgCrypto==1.2.5
telethon==1.38.1
aiogram==3.17.0
Pillow==11.1.0
opencv-python==4.11.0.86
scikit-learn==1.6.1
beautifulsoup4==4.12.3
python-dotenv==1.0.1
PyYAML==6.0.2
aiohttp==3.11.11
numpy==2.2.2
pandas==2.2.3
django==5.1.5
fastapi==0.115.6
uvicorn==0.34.0
